/* Polaroid Now Gen 2 - White/Blue Edition */
/* Based on fossheim.io with custom styling */

.camera {
  display: block;
  width: 570px;
  height: 470px;
  position: relative;
  transform: scale(0.85);
  filter: drop-shadow(0 30px 50px rgba(0, 0, 0, 0.25));
}

@media (max-width: 640px) {
  .camera {
    transform: scale(0.6);
  }
}

/* ==================== TOP SECTION (White with silver border) ==================== */
.top {
  display: block;
  position: relative;
  width: 540px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px 35px 0 0;
  background-image: 
    /* Rainbow stripe at top center */
    linear-gradient(90deg, 
      transparent 0% 40%,
      #E02D28 40% 44%,
      #FE8204 44% 48%,
      #FFB404 48% 52%,
      #0EAE4F 52% 56%,
      #0E9EE0 56% 60%,
      transparent 60%
    ),
    /* Side highlights */
    linear-gradient(
      90deg,
      rgba(243,243,243,0.75),
      rgba(243,243,243,0) 15% 85%,
      rgba(243,243,243,0.75)
    ), 
    linear-gradient(#FEFEFE, #F9F7F8),
    linear-gradient(#E8E8EA, #F0F0F2, #F8F8FA, #FFFFFF);
  background-size: 100% 10px, 100%, 100% 3px, 100%;
  background-position: top, center, top 10px center, center;
  background-repeat: no-repeat;
  box-shadow: 
    -1px 1px 2px 3px rgba(249,247,248, 0.85) inset,
    0 0 0 4px #D0D0D0,
    0 0 0 6px #A8A8A8,
    0 0 0 8px #C8C8C8;
  border: 2px solid #E8E8E8;
}

/* ==================== FLASH ==================== */
.flash {
  position: absolute;
  width: 90px;
  height: 160px;
  border-radius: 15px;
  left: 25px;
  top: 25px;
  box-shadow: -1px -1px 1px #BDB8B5,
    -1.5px -2.1px 0.5px #24201D,
    -4px 4px 3px 3px #F4F0EF,
    -5px 8px 8px #ABA6AA,
    0.25px 1px 1px 5px #3E3A38 inset,
    0 -6px 1px 1px #F6F6F8 inset;
  background-image: linear-gradient(#EDECEA,#F6F6F8),
    linear-gradient(
      90deg,
      rgba(247,246,244,0) 3%,
      rgba(247,246,244,0.5) 3% 6%,
      rgba(247,246,244,0) 6% 11%,
      rgba(247,246,244,0.5) 12% 15%,
      rgba(247,246,244,0) 15% 21%,
      rgba(247,246,244,0.5) 21% 23%,
      rgba(247,246,244,0) 23% 24%,
      rgba(247,246,244,0.5) 24% 25%,
      rgba(247,246,244,0) 25% 27%,
      rgba(247,246,244,0.5) 27% 28%,
      rgba(247,246,244,0) 28% 31%,
      rgba(247,246,244,0.5) 31% 33%,
      rgba(247,246,244,0) 33% 35%,
      rgba(247,246,244,0.5) 35% 37%,
      rgba(247,246,244,0) 37% 39%,
      rgba(247,246,244,0.5) 39% 41%,
      rgba(247,246,244,0) 41% 43%,
      rgba(247,246,244,0.5) 43% 45%,
      rgba(247,246,244,0) 45% 48%,
      rgba(247,246,244,0.5) 48% 50%,
      rgba(247,246,244,0) 50% 55%,
      rgba(247,246,244,0.5) 55% 57%,
      rgba(247,246,244,0) 57% 59%,
      rgba(247,246,244,0.5) 59% 60%,
      rgba(247,246,244,0) 60% 61%,
      rgba(247,246,244,0.5) 61% 62%,
      rgba(247,246,244,0) 62% 64%,
      rgba(247,246,244,0.5) 64% 66%,
      rgba(247,246,244,0) 66% 69%,
      rgba(247,246,244,0.5) 69% 71%,
      rgba(247,246,244,0) 71% 75%,
      rgba(247,246,244,0.5) 75% 77%,
      rgba(247,246,244,0) 77% 79%,
      rgba(247,246,244,0.5) 79% 80%,
      rgba(247,246,244,0) 80% 81%,
      rgba(247,246,244,0.5) 81% 82%,
      rgba(247,246,244,0) 82% 84%,
      rgba(247,246,244,0.5) 84% 86%,
      rgba(247,246,244,0) 86% 89%,
      rgba(247,246,244,0.5) 89% 91%,
      rgba(247,246,244,0) 81% 95%
    ),
    linear-gradient(
      90deg,
      rgba(186,184,185,0.1),
      rgba(247,246,244,0.65),
      rgba(186,184,185,0.1)
    ),
    linear-gradient(
      90deg,
      rgba(186,184,185,0.1),
      rgba(247,246,244,0.65),
      rgba(186,184,185,0.1)
    ),
    linear-gradient(
      #E3DEDA 15%,
      #AFAAA6 25% 35%,
      transparent 45%
    ),
    linear-gradient(
      #F0EFED 10%,
      #B0ABA7 20%,
      #403C3B 40%,
      #2F2B2A 43%,
      #292524 45% 55%,
      #696562 65% 75%,
      #C2BFBA 82% 86%,
      #DEDAD7 90% 93%, 
      #C9C6C1 94% 96%,
      #FFFEFA 98%),
    linear-gradient(#34332F, #3E3A38);
  background-size: 42px 20px, 42px 100%, 3px 100%, 3px 100%, 100% 3px, 100%, 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat, repeat, no-repeat;
  background-position: 24px top, 25px top, 22px top, 64px top, center, center, center;
}

.flashEffect {
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background: rgba(255, 255, 200, 0.9);
  box-shadow: 0 0 100px 50px rgba(255, 255, 200, 0.8);
}

/* ==================== TIMER ==================== */
.timer {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 20px;
  left: 135px;
  top: 35px;
  background-image: radial-gradient(#E8E4E5, #DEDAD9);
  box-shadow: 0px 0.5px 1px 0.5px #605C5B,
    1px 1px 1px #FFFBFC inset;
}

/* ==================== SENSOR ==================== */
.sensor {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 20px;
  left: 135px;
  top: 70px;
  background-image: radial-gradient(#080607, transparent 50%),
    radial-gradient(#0B090A, #211F20, #131112, #383637, #100E0F, #383637, #100E0F);
  background-size: 60%, 100%;
  background-position: -6px -3px, center;
  background-repeat: no-repeat;
  box-shadow: 0px 0.5px 1px 0.75px #FFFBFC, 0 -1px 1px #635F5E;
}

/* ==================== LENS ==================== */
.lens {
  position: absolute;
  display: block;
  width: 210px;
  height: 210px;
  border-radius: 105px;
  background-color: black;
  top: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  
  background-image: radial-gradient(transparent, #000000),
    radial-gradient(rgba(51,53,54,0.4), transparent),
    radial-gradient(
      #2A282B 0% 27%,
      #070508 27.5% 28%,
      #4E4C4F 28.5% 28.6%,
      #2A282B 28.7% 29.3%,
      #070508 29.5% 29.8%,
      #4E4C4F 30% 30.5%,
      #2A282B 30.5% 32.5%,
      #070508 33% 33.5%,
      #4E4C4F 34% 34.5%,
      #2A282B 34.5% 36.5%,
      #070508 37% 37.5%,
      #3D3B40 38% 38.5%,
      #908E91 39% 39.5%,
      #3D3B40 40% 40.5%,
      #908E91 41% 41.5%,
      #3D3B40 42% 42.5%,
      #908E91 43% 43.5%,
      #3D3B40 44% 44.5%,
      #908E91 45% 45.5%,
      #3D3B40 46% 46.5%,
      #908E91 47% 47.5%,
      #3D3B40 48% 48.5%,
      #908E91 49% 49.5%,
      #3D3B40 50% 50.5%,
      #908E91 51% 51.5%,
      #3D3B40 52% 52.5%,
      #908E91 53% 54%,
      #E8E8E8 54.5% 56%,
      #D0D0D0 56% 57%,
      #F0F0F0 57% 58%,
      #E8E8E8 58%
    );
  
  background-size: 350px 350px, 350px 350px, 100%;
  background-position: bottom -100px left, top -120px right 10px, center center;
  background-repeat: no-repeat;
  box-shadow: 15px 55px 60px 5px #767072;
}

.glass {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 70px;
  background-image: radial-gradient(
      rgba(119, 109, 80, 0.85),
      transparent 40%
    ),
    radial-gradient(
      rgba(51,180,105,0.25) 13%, 
      rgba(119,159,59,0.2) 53% 70%,
      rgba(119,159,59,0) 68%
    ),
    radial-gradient(
      rgba(51,180,105,0.25) 23%, 
      rgba(51,180,105,0.2) 53% 70%,
      rgba(51,180,105,0) 68%
    ),
    radial-gradient(
      #2C1F28,
      #241921 55%,
      #080609 70%
    );
  background-size: 100%, 190% 100%, 190% 100%, 100%;
  background-repeat: no-repeat;
  background-position: center -10px, -30px -48px, -30px 55px, center;
}

/* ==================== SHUTTER BUTTON ==================== */
.shutter {
  display: block;
  width: 57px;
  height: 57px;
  position: absolute;
  border-radius: 30px;
  bottom: 30px;
  left: 25px;
  background-image: radial-gradient(#DA1107 51%, #ED4B1D 53.5%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: bottom -10px center;
  border: 1px solid #520000;
  box-shadow: 1px 1px 1px rgba(255,255,255,0.2) inset, 
    0 0 2px 6px #DFDAD7, 
    1px 6px 10px #66514D, 
    -1px -7.5px 1px white;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.shutter:hover {
  transform: scale(1.02);
}

.shutter:active,
.shutterPressed {
  transform: scale(0.95) translateY(2px);
  box-shadow: 1px 1px 1px rgba(255,255,255,0.2) inset, 
    0 0 2px 4px #DFDAD7, 
    1px 3px 5px #66514D, 
    -1px -4px 1px white;
}

/* ==================== VIEWFINDER ==================== */
.viewfinder {
  position: absolute;
  background-color: #1B1A18;
  width: 110px;
  height: 110px;
  border-radius: 20px;
  right: 20px;
  top: 20px;
  box-shadow: 0.5px 0.5px 1px 1.5px #F1EDEE,
    1.5px 1px 1px 1px #3B3535 inset,
    2px 2px 1px 1px #9F9E9C inset,
    -0.5px -2px 1.5px #9B9A98 inset,
    1px 1.5px 0.5px 1px #FBF7F8;
}

.viewfinderGlass {
  position: absolute;
  background-color: white;
  width: 75px;
  height: 75px;
  left: 18px;
  top: 18px;
  border-radius: 20px;
  background-image: radial-gradient(rgba(236, 234, 237, 0.3) 50%, transparent 60%),
    radial-gradient(rgba(193, 189, 186, 0.3) 50%, transparent 60%),
    radial-gradient(#5B5758 45%, #302C2D, #131112);
  background-size: 106% 32%, 106% 25%, 100%;
  background-repeat: no-repeat;
  background-position: -3px -7px, bottom -8px left -3px, center;
  box-shadow: 0px 0px 1px 0px #010000 inset,
    0 0 1px 1px #393836 inset,
    0 0 2px 2px #010000 inset,
    0 0 2px 4px #393836 inset,
    0 0 1.5px 4.5px #010000 inset,
    -0.5px -1px 1px #5F5E5C,
    0.25px 2px 2px #464543;
}

.viewfinderBack {
  position: absolute;
  background-image: linear-gradient(#ECEAED, #E2E0E1);
  width: 40px;
  height: 40px;
  left: 18px;
  top: 19px;
  border-radius: 10px;
  box-shadow: 0.5px 2px 2px 0 #5E5B56,
    0px 1px 3px 0px #CAC4C5,
    -4px 0px 5px 0px rgba(9,7,5,0.75),
    1px 1px 1px 1px #F1ECF0 inset,
    1.5px 1.5px 1px 1px #D1D0CE inset;
  border: 0.5px solid rgba(9,7,5,0.75);
}

/* ==================== TOGGLE - Hidden ==================== */
.toggleContainer {
  display: none;
}

.toggle {
  display: none;
}

/* ==================== POWER BUTTON ==================== */
.power {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  right: 45px;
  top: 145px;
  background-image: radial-gradient(
    #F8F8F8 0%,
    #E8E8E8 40%,
    #D8D8D8 60%,
    #C8C8C8 100%
  );
  box-shadow: 
    0 0 0 3px #E0E0E0,
    inset 0 2px 3px rgba(255,255,255,0.8),
    inset 0 -2px 3px rgba(0,0,0,0.1),
    0 2px 5px rgba(0,0,0,0.15);
  cursor: pointer;
}

/* Power icon */
.power::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border: 2px solid #555;
  border-top-color: transparent;
  border-radius: 50%;
}

.power::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 8px;
  background: #555;
  border-radius: 1px;
}

/* ==================== BOTTOM SECTION (Blue) ==================== */
.bottom {
  display: block;
  width: 100%;
  height: 165px;
  position: absolute;
  bottom: 0;
  border-radius: 11px 11px 30px 30px;
  /* Blue gradient base matching the reference image style */
  background-image: 
    radial-gradient(#0088E0 60%, transparent 60%),
    radial-gradient(#0088E0 60%, transparent 60%),
    linear-gradient(90deg, #0088E0, #0095F0),
    linear-gradient(90deg, #0095F0, #0088E0),
    linear-gradient(90deg, #0066B8, rgba(0,102,180,0) 5% 95%, #0055A0), 
    linear-gradient(#0066B8, #003366),
    linear-gradient(#0078D4, #0066BB, #0078D4);
  background-size: 50px 60px,
    50px 60px,
    185px 30px,
    185px 30px,
    100% 100%,
    100% 20px,
    100% 100%;
  background-repeat: no-repeat;
  background-position: 160px -26px,
    360px -26px,
    top right,
    top left,
    top left,
    bottom left, 
    bottom left;
  box-shadow: 
    -1px 3px 2px 0px rgba(100,180,255, 0.4) inset,
    0 0 0 4px #D0D0D0,
    0 0 0 6px #A8A8A8,
    0 0 0 8px #C8C8C8;
  border: 2px solid #0066B8;
}

/* ==================== BOTTOM TOGGLE ==================== */
.bottomToggleContainer {
  display: block;
  width: 135px;
  height: 35px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
  background-image: radial-gradient(#0066B8, #0078D4 40%, transparent 70%),
    radial-gradient(#005599, #0070C0 40%, transparent 70%),
    linear-gradient(#0088E0 10%, #0066B8 20% 65%, #0095F0);
  background-size: 70px 70px, 70px 70px, 100% 100%;
  background-repeat: no-repeat;
  background-position: top -25px left -40px, top -15px right -35px, top right;
}

.bottomToggle {
  position: absolute;
  display: block;
  width: 100px;
  height: 20px;
  top: 6px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-image: linear-gradient(
    #0088E0 2%,
    #005599 2%,
    #0066AA,
    #005599
  );
  border: 0.5px solid #003366;
}

.bottomHandle {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: -2px;
  background-image: radial-gradient(#0078D4, #0066B8);
  border-radius: 10px;
  border: 0.5px solid rgba(0, 100, 180, 0.5);
  box-shadow: -1px 5px 5px #003355;
}

/* ==================== PRINTER SLOT ==================== */
.printer {
  display: block;
  width: 470px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-radius: 3px;
  
  background-image: linear-gradient(90deg, #003355 90%, #002244 90%),
    linear-gradient(90deg, #001122 10%, #004466 10%),
    linear-gradient(#004466 4%, #001122 9% 20%, #003355 30% 55%, #001122 80% 93%, #0088CC 99%);
  background-size: 8px 100%, 8px 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: top left, top right;
}

/* ==================== LABELS ==================== */
.labels {
  position: relative;
}

.rainbow {
  display: block;
  width: 40px;
  height: 46px;
  position: absolute;
  top: -2px;
  left: 80px;
  background-image: linear-gradient(
    #002244 5%,
    #0E9EE0 5% 14%,
    #003355 14% 19%,
    #0EAE4F 19% 32%,
    #003355 32% 37%,
    #FFB404 37% 50%,
    #003355 50% 55%,
    #FE8204 55% 68%,
    #003355 68% 80%,
    #E02D28 80%
  );
}

.logo {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  margin-top: 8px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
